/* Import Pywal colors */
@import url("/home/pedro/.cache/wal/colors-waybar.css");

/* font declared */
* {
  font-family: 'GohuFont 11 Nerd Font Propo';
  font-size: 15px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @foreground;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* configuring the modules */
.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 0 0 7px;
  background-color: @background;
  border: 2px solid @color4;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @color4;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @color4;
}

button {
  border: none;
}

/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

#custom-arch:hover {
  color: @color5;
}

#custom-powerprofile:hover {
  color: @color5;
}

#custom-themeswitcher:hover {
  color: @color5;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @foreground;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @color8;
}

#workspaces button.active {
  color: @background;
  background-color: @foreground;
}

#workspaces button.urgent {
  background-color: @color1;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  margin: 0 0 0 5px;
  padding: 0 9px;
  background-color: @background;
  color: @foreground;
}

#mpris.playing {
  background-color: @color2;
  border-radius: 2px;
  color: @background;
}

/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
  padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover {
  color: @color5;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#wireplumber.muted {
  background-color: @color3;
}

#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  background-color: @color6;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @foreground;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @color8;
    color: @foreground;
  }
}
